.LogIn-Container2 {
  // width: 100%;
  height: auto;
  margin-right: 28px;
  .button-LogIn2 {
    button {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      background: rgb(246, 246, 233);
      color: #000000;
      border: none;
      text-align: center;
      font-size: clamp(15px, 1vw, 30px);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: $title-font;
      cursor: pointer;
      backdrop-filter: blur(10px);
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        background: #4c2556;
        backdrop-filter: blur(10px);
        color: white;
      }
    }
  }
  .card-LogIn-container2 {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .card-LogIn2 {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1000px) {
  .LogIn-Container2 {
    // width: 100%;
    height: auto;
    margin-right: 28px;
    .button-LogIn2 {
      button {
        width: 70px;
        height: 25px;
        border-radius: 2.5px;
        font-size: clamp(10px, 0.5vw, 15px);
      }
    }
  }
}
