@import "../../../Variable.scss";
.LogIn-Container2 {
  width: 100%;
  height: auto;
  .button-LogIn2 {
    button {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #f6f6e9;
      background: rgba(246, 246, 233, 0);
      color: #f6f6e9;
      text-align: center;
      font-size: 1.05vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: $title-font;
      cursor: pointer;
    }
  }
  .card-LogIn-container2 {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .card-LogIn2 {
      display: flex;
      justify-content: center;
    }
  }
}
