@import "../../Variable.scss";

.Friends-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Global-friendRequest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sword-logo {
      width: 25%;
      padding: 1rem;
      border-bottom: 1px solid #a4945e;
    }
    .Request-Title {
      text-align: center;
      font-family: $content-font;
      font-size: 2.5vh;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 1rem;
    }
  }
  .Friends-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .friends {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      width: 60%;
      height: 100%;
      border-radius: 8px;
      border: 4px solid #4d194d;
      background: rgba(217, 217, 217, 0.22);
      gap: 5px;
      padding: 5px;
      .rawFriendRequest {
        padding-bottom: 5px;
        border-bottom: 2px solid $third-font-color;
        width: 100%;
        // height: 30%;
        display: flex;
        justify-content: space-between;
        .requesterProfilPicture {
          // width: fit-content;
          display: flex;
          justify-content: center;
          width: 10%;
          img {
            // aspect-ratio: 1/1;
            border-radius: 50%;
            width: 100%;
            // height: 100%;
            border: 2px solid $third-font-color;
          }
        }
        .requesterName {
          display: flex;
          justify-content: start;
          align-items: center;
          // height: 100%;
          width: fit-content;
          p {
            margin: 0 5px 0 5px;
            color: $secondary-font-color;
            font-family: $content-font;
            font-size: 1vw;
          }
        }
        .wantsToJoin {
          display: flex;
          justify-content: center;
          align-items: center;
          // height: 100%;
          // width: 70%;
          span {
            display: inline;
            font-size: 1vw;
            font-style: normal;
            background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
            line-height: normal;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .requesterGame {
          display: flex;
          justify-content: center;
          align-items: center;
          // height: 100%;
          // width: 80%;
          p {
            color: $secondary-font-color;
            font-family: $content-font;
            font-size: 1vw;
          }
        }
        .requesterButton {
          // height: 100%;
          // width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          #validateButton {
            border: 1px solid $third-font-color;
            padding: 4px;
            aspect-ratio: 1/1;
            height: 80%;
            background: $background-gradient-home-page;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              background: #a4945e;
            }
          }
          #refuseButton {
            border: 1px solid $secondary-font-color;
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 80%;
            background: none;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              background-color: rgb(149, 18, 18);
            }
          }
        }
      }
    }
  }
}
