@import "../../Variable.scss";

.myFutureGames_Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  #logoFutureGames {
    margin-bottom: 9px;
  }

  .line_myFutureGames {
    width: 30%;
    border-bottom: 1px solid #a4945e;
    margin-bottom: 24px;
  }
  .title_FuturGames {
    margin-bottom: 14px;
    h2 {
      font-family: $content-font;
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .inside_myFutureGames_Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15%;
    width: 60%;
    height: 100%;
    // border: 2px solid red;
    border-radius: 8px;
    border: 4px solid #4d194d;
    background: rgba(217, 217, 217, 0.22);
    .display_myfutureGames {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      color: #d9d9d9;

      .infoGames_FG_Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 7px;
        margin-right: 44px;
        .infoGames_FG {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          text-align: center;

          .infoGames_FG_Text {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 10px;
            font-size: 1vw;
            text-align: center;

            .infoGames_FG_TextContent {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 5px;
              #goldenText_FG {
                font-size: 1vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }

            #lineSeparator_FG {
              width: 1px;
              height: 35px;
              background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
            }
          }
        }

        #underlineInfo_FG {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          span {
            width: 100%;
            height: 2px;
            background: linear-gradient(180deg, #a4945e 0%, #e2d07c 100%);
          }
        }
      }

      .logoContentFG {
        display: flex;
        flex-direction: column;
        gap: 22px;
        transform: translateX(-50%);
        button {
          background: none;
          border: none;
        }
      }
    }
    .noDataMessage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 80%;
      // border: 2px solid blue;
      color: #d9d9d9;
      .logoContentFG {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // border: 1px solid yellow;
        width: 100%;
        gap: 22px;
        transform: translateX(-5%);
        button {
          background: none;
          border: none;
        }
      }
      .messsageNoData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }
}
