@import "../../Variable.scss";

.myFutureGames_Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  

  #logoFutureGames {
    margin-bottom: 9px;
  }

  .line_myFutureGames {
    width: 30%;
    border-bottom: 1px solid #a4945e;
    margin-bottom: 24px;
  }
  .title_FuturGames {
    margin-bottom: 14px;
    h2 {
      font-family: $content-font;
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .inside_myFutureGames_Container {
    display: flex;
    width: 30vw;
    height: 20vh;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.22);
  }
  .display_myfutureGames {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: #d9d9d9;

    .infoGames_FG_Container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 7px;
      margin-right: 44px;
      .infoGames_FG {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .infoGames_FG_Text {
          display: flex;
          justify-content: space-around;
          flex-direction: row;
          align-items: center;
          width: 100%;
          gap: 10px;

          #goldenText_FG {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          #lineSeparator_FG {
            width: 1px;
            height: 35px;
            background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
          }
        }
      }

      #underlineInfo_FG {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        span {
          width: 100%;
          height: 2px;
          background: linear-gradient(180deg, #a4945e 0%, #e2d07c 100%);
        }
      }
    }

    .logoContentFG {
      display: flex;
      flex-direction: column;
      gap: 22px;
      transform: translateX(-50%);
      button {
        background: none;
        border: none;
      }
    }
  }
}
