@import "../../Variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global-GmCards {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  width: 100vw;
  height: 100vh;

  .GmCards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 573px;
    height: 720px;
    background-color: white;
    border: 3px solid $third-font-color;
    border-radius: 9px;
    margin: 2rem;

    .close-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .close-modale {
        height: 50px;
      }
    }

    .GmCards-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      .GmName-Btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        border-bottom: 1px solid $navbar-color;

        .GM-Name {
          color: #180b23;
          font-family: $content-font;
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .Btn-send {
          display: flex;
          width: 143px;
          height: 37.895px;
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
          background-color: $navbar-color;
          border-radius: 4px;
          align-items: center;
          font-family: Koh Santepheap;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $third-font-color;
          margin: 1.5rem;
        }
      }

      .profile-picture {
        width: 18%;
      }
    }
    .GM-calendar-location {
      display: flex;
      width: 70%;
      border: 3px solid purple;
      .game-logo-container {
        display: flex;

        .date-to,
        .city {
          display: flex;
          text-align: center;
          font-family: Koh Santepheap;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .game-type,
        .location-city {
          color: #180b23;
          font-family: Koh Santepheap;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .location-container {
      display: flex;
      flex-direction: column;
    }

    .Participants {
      display: flex;
      flex-direction: column;
      border: 3px solid blue;
      width: 70%;
      .participant-nb-container {
        display: flex;
        justify-content: center;
        border: 3px solid green;
      }
      .participants-pictures {
        display: flex;
        justify-content: center;
        border: 3px solid purple;
      }
    }
  }
}
