@import "../../Variable.scss";

.global-GmCards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  animation: fadeIn ease 0.5s;
  width: 100%;
  height: 100%;

  .GmCards-container {
    position: fixed;
    display: flex;
    // justify-content: space-around;
    top: 50%; // Adjust as needed
    left: 50%; // Adjust as needed
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    width: 573px;
    height: 720px;
    flex-shrink: 0;
    background-color: white;
    border: 3px solid $third-font-color;
    border-radius: 9px;
    gap: 10px;
    z-index: 40000;

    .GmCards-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-top: 5%;

      .profile-picture {
        display: flex;
        justify-content: center;
        width: 20%;
        img {
          border-radius: 50%;
          width: 100%;
          border: 2px solid #a4945e;
        }
      }
      .GM-Name {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 10px;
        color: #180b23;
        font-family: Koh Santepheap;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .Btn-send {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 148px;
        height: 39.943px;

        button {
          border-radius: 4px;
          background: #180b23;
          color: #a4945e;
          padding: 10px;
          text-align: center;
          font-family: Koh Santepheap;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      #underline-GMUsername {
        width: 100%;
        height: 1px;
        background: #180b23;
      }
      .close-container {
        display: flex;
        margin-bottom: 100px;
        cursor: pointer;
      }
    }
    .GmCards-Middle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 85%;
      // height: 50%;

      .GmCards-Middle-Left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        // width: 100%;
        // height: 100%;
        gap: 20px;
      }
      .GmCards-Middle-Middle_Left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 5%;
        width: 100%;
        height: 100%;
        gap: 40px;

        .date-to-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .date-to {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Koh Santepheap;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #a4945e;
            #date {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #180b23;
              font-family: Koh Santepheap;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .location-city-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .location-city {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Koh Santepheap;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #a4945e;
            .city {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #180b23;
              font-family: Koh Santepheap;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

        .Participants-nb {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #180b23;
          font-family: Koh Santepheap;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .GmCards-Middle-Middle_Right {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        .game-type {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 20%;
          color: #180b23;
          font-family: Koh Santepheap;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .GmCards-Middle-Right {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
      }
    }
    #underline-GMParticipants {
      width: 80%;
      height: 1px;
      background: #180b23;
    }

    .participants-pictures {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      gap: 20px;
      padding-left: 10%;
      img {
        width: 10%;
        border-radius: 50%;
        border: 2px solid #a4945e;
        cursor: pointer;
      }
    }

    .iframe-GmCards {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      iframe {
        border: none;
        border-radius: 8px;
        width: 90%;
        height: 100%;
        padding: 0 0 20px 0;
      }
    }
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
