@import "../../Variable.scss";

.boxGameCard {
  gap: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  font-family: $content-font;
  font-size: 0.92vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    color: #180b23;
  }
}

// .boxNewTopics {
//   width: 50%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   button {
//     width: 100%;
//     height: 100%;
//     img {
//       display: flex;
//       align-items: center;
//     }
//   }
// }

.globalContainerCard {
  border: 1px solid #e2d07c;
  display: flex;
  width: 100%;
  color: #d9d9d9;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  // margin-bottom: 20px;
  gap: 30px;
  // margin: 20px;
  &:hover {
    background-color: #fff;
    color: #180b23;
  }
  img {
    width: 50px;
    border-radius: 50%;
  }
}

.gameModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .gameModalContent {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}

.gameJoinGuildModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .gameJoinGuildContent {
    width: 20%;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}

.gameJoinGuildValidationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .gameJoinGuildValidationContent {
    width: 20%;
    height: 30%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
