.gameLocationUpcoming {
  color: white;
  // border:solid white;
  height: 50px;
  width: 100;
  border: 1px solid red;
  display: flex;
  gap: 30px;
}
.globalContainerCard {
  border: 3px solid rgb(88.6, 81.6, 48.6);
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 30px;
}
