.privateMessagesBackground {
  height: 100%;
  width: 100%;
  display: flex;
  animation: fadeIn ease 1s;
  .selectConversation {
    height: 100%;
    width: 500px;
    .titreSearch {
      width: 100%;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      h2 {
        width: 100%;
        color: $third-font-color;
        font-family: $content-font;
        font-weight: 500;
        font-size: 30px;
      }
      .searchConversation {
        background: white;
        width: 300px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        input {
          height: 100%;
          width: 100%;
          padding: 4px;
          cursor: text;
          background: none;
          &:focus {
            background: rgba(211, 211, 211, 0.709);
            border-radius: 4px 0 0 4px;
          }
        }
        img {
          height: 100%;
          width: auto;
          aspect-ratio: auto;
          padding: 2px;
          cursor: pointer;
          transform: translateY(3px);
        }
      }
    }
    .displayMessages {
      width: 100%;
      height: 84vh;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      element::-webkit-scrollbar-track {
        background: transparent; /* Cache le fond par défaut */
      }
      element::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Couleur semi-transparente */
        border-radius: 4px; /* Coins arrondis */
        transition: background-color 0.3s; /* Transition douce lors du survol */
      }
      element::-webkit-scrollbar-thumb:hover {
        background-color: rgba(
          0,
          0,
          0,
          0.5
        ); /* Couleur plus foncée lors du survol */
      }
      .messageContent {
        width: 350px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 10px;
        border-bottom: 2px solid $third-font-color;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
        .msgProfilPicture {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          img {
            aspect-ratio: 1/1;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $third-font-color;
          }
        }
        .msgName {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          p {
            color: white;
            font-size: 25px;
            font-family: $ponctual-font;
          }
        }
        .deleteButton {
          justify-content: center;
          align-items: center;
          display: flex;
          p {
            color: rgb(106, 106, 106);
            z-index: 10;
            font-family: $ponctual-font;
          }
        }
      }
    }
    .newConversation {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      &:hover svg path {
        fill: rgb(255, 255, 255);
      }
      &:hover p {
        color: white;
      }
      p {
        font-size: 20px;
        color: $third-font-color;
        font-family: $content-font;
      }
    }
  }
  .conversation {
    border-left: 2px solid grey;
    height: 100%;
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
