.LogIn-Container {
  // width: 100%;
  height: auto;
  margin-right: 28px;
  // border: 2px solid red;

  .button-LogIn {
    button {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #f6f6e9;
      background: #e7e7e530;

      color: #ffffff;
      text-align: center;
      font-size: 1.05vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: $title-font;
      cursor: pointer;
      backdrop-filter: blur(10px);
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        background: #e2cf7cb2;
        backdrop-filter: blur(10px);
      }
    }
  }
  .card-LogIn-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .card-LogIn {
      display: flex;
      justify-content: center;
    }
  }
}
