.LogIn-Container {
  // width: 100%;
  height: auto;
  margin-right: 28px;

  .button-LogIn {
    button {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #f6f6e9;
      background: #e7e7e530;

      color: #ffffff;
      text-align: center;
      font-size: clamp(15px, 1vw, 30px);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: $title-font;
      cursor: pointer;
      backdrop-filter: blur(10px);
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        background: #e2cf7cb2;
        backdrop-filter: blur(10px);
      }
    }
  }
  .card-LogIn-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .card-LogIn {
      display: flex;
      justify-content: center;
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .LogIn-Container {
    // width: 100%;
    height: auto;
    margin-right: 28px;
    .button-LogIn {
      button {
        width: 62px;
        height: 19px;
        border-radius: 2.5px;
        font-size: clamp(7.5px, 0.5vw, 15px);
      }
    }
  }
}
