// Importation des variables SCSS depuis le fichier "Variable.scss"
@import "../../Variable.scss";

// Styles pour le conteneur principal de la barre de navigation
.navBarDesktopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 104px;
    height: 100vh;
    background-color: $navbar-color;// Utilisation de la variable $navbar-color pour définir la couleur de fond
    border-right: 1px solid rgba(255, 255, 255, 0.22); // Bordure droite avec couleur semi-transparente
    font: $primary-font; // Utilisation de la variable $primary-font pour définir la police

    // Styles pour le logo de la barre de navigation
    .logoNavBar {
        margin-left: 8px;
    }

    // Styles pour les boutons principaux de la barre de navigation
    .mainButtonsNavBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70%;

        // Styles pour le bouton "Accueil"
        .homeNavBar {
            position: relative;

            // Styles pour les options cachées du bouton "Accueil"
            .hiddenHomeNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 3%;
                margin-left: 71px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color; // Utilisation de la variable $primary-font-color pour définir la couleur du texte
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both; // Utilisation de l'animation "scale-in-hor-left" définie ci-dessous
            }
        }
// Styles similaires pour les autres boutons : "Partie", "Profil", "Créer un jeu", "Message" et "Forum"
        .partyNavBar {
            position: relative;
            .hiddenPartyNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 5%;
                margin-left: 69px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
        .profilNavBar {
            position: relative;
            .hiddenProfilNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 5%;
                margin-left: 69px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
        .createGameNavBar {
            position: relative;
            .hiddenCreateGameNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 7%;
                margin-left: 71px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
        .messageNavBar {
            position: relative;
            .hiddenMessageNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 15%;
                margin-left: 76px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
        .forumNavBar {
            position: relative;
            .hiddenForumNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 15%;
                margin-left: 74px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
    }
    // Styles pour les boutons du pied de page de la barre de navigation
    .bottomButtonNavBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 15%;
        margin-top: 80%;
        gap: 15px;
        .settingNavBar {
            position: relative;
            .hiddenSettingNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 12%;
                margin-left: 69px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
        .logOutNavBar {
            position: relative;
            margin-right: 14px;
            .hiddenLogOutNavBar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 12%;
                margin-left: 81px;
                min-width: 145px;
                text-align: center;
                height: 39px;
                color: $primary-font-color;
                border-radius: 0 1rem 1rem 0;
                background-color: #A4945E;
                border-left: none;
                text-align: center;
                animation: scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
            }
        }
        
    }
}
.footerNavbarMobile {
    display: none;
}

@keyframes scale-in-hor-left {
    0% {
        transform: scaleX(0);
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 0 0;
        opacity: 1;
    }
}

@media screen and ( max-width: 768px ) {
    .navBarDesktopContainer {
        display: none;
    }
    .footerNavbarMobile {
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        background-color: $navbar-color;
        width: 100%;
        height: 77px;
        .logoFooter {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            #logoFooter {
                width: 100%;
                height: 77px;
            }
            .menuBurger {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 30%;
                .bar1,
                .bar2,
                .bar3 {
                    width: 30px;
                    height: 5px;
                    background-color: #A7975E;
                }
                .menuContent {
                    position: absolute;
                    bottom: 90px;
                    right: 0;
                    padding: 10px;
                    border: 1px solid #A4945E;
                    border-radius: 10px 0px 0px 10px;
                    display: flex;
                    flex-direction: column;
                    z-index: 0;
                    p {
                        color: $primary-font-color;
                    }
                  }
  
            }
            
        }
     
}

}