// Styles pour le conteneur principal de la barre de navigation
.navBarDesktopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 104px;
  height: 100%;
  overflow: hidden;
  background-color: $navbar-color; // Utilisation de la variable $navbar-color pour définir la couleur de fond
  border-right: 1px solid rgba(255, 255, 255, 0.22); // Bordure droite avec couleur semi-transparente
  // font: $primary-font; // Utilisation de la variable $primary-font pour définir la police
  // Styles pour le logo de la barre de navigation
  .logoNavBar {
    margin-left: 8px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }

  // Styles pour les boutons principaux de la barre de navigation
  .mainButtonsNavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    .activeLink {
      filter: drop-shadow(0px 0px 25px #fff);
    }

    // Styles pour le bouton "Accueil"
    .homeNavBar,
    .partyNavBar,
    .profilNavBar,
    .createGameNavBar,
    .messageNavBar,
    .forumNavBar {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      span {
        margin-top: 10px;
        transform: translateX(-300%);
        transition: transform 0.3s ease-in-out;
        font-size: 0.8rem;
        font-family: $title-font;
        font-weight: bold;
      }
      span.slide-in {
        transform: translateX(0);
      }
    }
  }
  // Styles pour les boutons du pied de page de la barre de navigation
  .bottomButtonNavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    margin-top: 80%;
    gap: 15px;
    .settingNavBar {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      span {
        margin-top: 5px;
        transform: translateX(-300%);
        transition: transform 0.3s ease-in-out;
        font-size: 0.8rem;
        font-family: $title-font;
      }

      span.slide-in {
        transform: translateX(0);
      }
    }
    .logOutNavBar {
      img {
        margin-right: 14px;
      }
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      span {
        margin-top: 5px;
        transform: translateX(-300%);
        transition: transform 0.3s ease-in-out;
        font-size: 0.8rem;
        font-family: $title-font;
      }

      span.slide-in {
        transform: translateX(0);
      }
    }
  }
  .footerNavbarMobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navBarDesktopContainer {
    display: none;
  }
  .footerNavbarMobile {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background-color: $navbar-color;
    width: 100%;
    height: 77px;
    .logoFooter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      #logoFooter {
        width: 100%;
        height: 77px;
      }
      .menuBurger {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 30%;
        .bar1,
        .bar2,
        .bar3 {
          width: 30px;
          height: 5px;
          background-color: #a7975e;
        }
        .menuContent {
          position: absolute;
          bottom: 90px;
          right: 0;
          padding: 10px;
          border: 1px solid #a4945e;
          border-radius: 10px 0px 0px 10px;
          display: flex;
          flex-direction: column;
          z-index: 0;
          p {
            color: $primary-font-color;
          }
        }
      }
    }
  }
}
