.modalNewTopics {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 178, 178, 0.315); /* Fond semi-transparent */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.modal-content {
  background-color: white;
  height: 70%;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: solid rgba(164, 148, 94);
  box-shadow: 0 2px 4px rgba(235, 230, 230, 0.416);
}

.buttonCreateTopic {
  background: linear-gradient(to bottom, #180b23, #752b75);
  width: 20%;
  height: 100%;
  color: white;
  font-family: $content-font;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#buttonCloseNewTopic {
  border-radius: 5px;
  border: 1px solid #180b23;
  width: 20%;
  height: 100%;
  padding: 10px 20px;
}

.nomTopic {
  height: 30px;
  width: 100%;
  border: 1px solid $button-gold;
  padding: 10px;
  border-radius: 4px;
  background-color: grey;
  color: #fff;
}

::placeholder {
  color: white;
  font-family: $content-font;
  font-size: 15px;
}

label,
p {
  font-family: $content-font;
}

.messageTopic {
  height: 200px;
  width: 100%;
  border: 1px solid $button-gold;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  background-color: grey;
  input {
    color: white;
  }
}

#categorieSelect {
  width: 100%;
  border: 1px solid $button-gold;
  border-radius: 4px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 178, 178, 0.315); /* Fond semi-transparent */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.buttonCreateTopic {
  background: linear-gradient(to bottom, #180b23, #752b75);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.modalContent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleNewTopic {
  font-family: $content-font;
  color: #e2d07c;
  font-size: 50px;
}
