.PhoneText-Global {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .scene-PhoneTexts {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  .PhoneTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 3px solid yellow;
    width: 50%;
    .title-p-PhoneTexts {
      display: flex;
      flex-direction: column;
    }
    .h1-phoneTexts {
      color: $third-font-color;
      text-align: justify;
      font-family: $title-font;
      font-size: 2.84vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin: 2rem;
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1500;
      background-color: rgba(185, 178, 178, 0.315);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .p-phoneTexts {
      color: $third-font-color;
      text-align: justify;
      font-family: $content-font;
      font-size: 1.45vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 2rem;
    }

    .Btn-container-phone {
      display: flex;
      justify-content: center;
      .Btn-PhoneText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background: #f6f6e9;
        border: none;
        color: #4d194d;
        text-align: center;
        font-family: Karma;
        font-size: 1.05vw;
        padding: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: $title-font;
      }
    }
  }
}
