.footer-Container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e2d07c;
  background: #180b23;
  margin-top: 10%;
  .footer-subContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 40px 0 40px;

    .link-Footer-container {
      display: flex;
      align-items: center;
      width: 33.33%;
      height: 100%;
      .link-Footer-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        gap: 30px;

        p {
          color: rgba(226, 208, 124, 0.5);
          font-size: 1.58vw;
          font-style: normal;
          font-weight: 400;
          line-height: 94.493%; /* 22.678px */
          letter-spacing: 1.8px;
          font-family: $title-font;
          &:hover {
            color: #e2d07c;
          }
        }
      }
      .link-Footer-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        gap: 30px;
        p {
          width: 100%;
          height: 100%;
          color: rgba(226, 208, 124, 0.5);
          font-size: 1.58vw;
          font-style: normal;
          font-weight: 400;
          line-height: 94.493%; /* 22.678px */
          letter-spacing: 1.8px;
          font-family: $title-font;
          &:hover {
            color: #e2d07c;
          }
        }
      }
    }
    .logoANDcopyright-Footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      height: 100%;
      margin: 20px;
      img {
        width: 100%;
        height: 100%;
      }
      p {
        color: rgba(226, 208, 124, 0.51);
        text-align: center;
        font-family: $title-font;
        font-size: 1vw;
        font-style: normal;
        font-weight: 400;
        line-height: 128.682%; /* 19.302px */
        letter-spacing: 1.125px;
      }
    }
    .newsletter-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      height: 100%;
      gap: 50px;
      p {
        color: rgba(226, 208, 124, 0.5);
        text-align: center;
        font-family: $title-font;
        font-size: 1.45vw;
        font-style: normal;
        font-weight: 400;
        line-height: 94.493%; /* 20.788px */
        letter-spacing: 1.65px;
      }
      .input-container-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid #e2d07c;
        input {
          background: none;
          outline: none;
          border: none;
          color: rgba(226, 208, 124, 0.51);
          font-family: $content-font;
          font-size: 1.32vw;
          letter-spacing: 1.5px;
          margin-left: 10px;
          width: 100%;
          height: 40px;
          &::placeholder {
            color: rgba(226, 208, 124, 0.51);
          }
        }
        hr {
          width: 1px;
          height: 36.994px;
          background-color: #a4945e;
          border: none;
        }
        p {
          width: 20%;
          text-align: center;
          font-size: 1.5em;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .footer-subContainer {
    margin: 0 15px 0 15px !important;

    .link-Footer-container {
      .link-Footer-left {
        gap: 5px !important;
        p {
          font-size: 1.2vw !important;
        }
      }
      .link-Footer-right {
        gap: 5px !important;
        p {
          font-size: 1.2vw !important;
        }
      }
    }
    .logoANDcopyright-Footer {
      display: flex;

      p {
        font-size: 1vw;
      }
    }
    .newsletter-container {
      gap: 20px !important;

      p {
        font-size: 1.5vw !important;
      }
      .input-container-footer {
        display: flex;
        height: 3vh !important;
        hr {
          width: 1px;
          height: 3vh !important;
          background-color: #a4945e;
          border: none;
        }

        input {
          font-size: 1.2vw !important;

          &::placeholder {
            color: rgba(226, 208, 124, 0.51);
          }
        }
      }
    }
  }
}
