@import "../../Variable.scss";
.LogIn-Container {
  width: 100%;
  height: auto;
  .button-LogIn {
    button {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      border: none;
      background: #f6f6e9;
      color: #4d194d;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: $title-font;
      cursor: pointer;
    }
  }
  .card-LogIn-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .card-LogIn {
      display: flex;
      justify-content: center;
    }
  }
}
