@import "../Variable.scss";

.mainDivDashboard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0;
  padding: 0;
  .iconRight {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
    gap: 20px;
    img {
      width: 40px;
      height: auto;
    }
  }
  .dashboardAllComponents {
    flex-direction: column;
    width: 100vw;
    .dashboardTitle {
      display: flex;
      justify-content: center;
      h1 {
        color: $third-font-color;
        font-family: $title-font;
        font-family: Lekton;
        font-size: 64px;
        font-weight: 400;
        line-height: normal;
        font-variant: small-caps;
      }
    }
    .dashboardComponents {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 100px;
      h2 {
        font-family: $title-font;
        color: $third-font-color;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
