body {
  background: $background-gradient-landing-page;
}

.main-landingPage {
  display: flex;
  flex-direction: column;
  .Scene {
    position: relative;
    z-index: 50;
  }
  .loader {
    /* Vos styles de loader ici, par exemple : */
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .wave-testLandingPage {
    position: absolute;
    width: 99%;
    top: 50%;
    z-index: -100;
  }

  .canvas {
    display: flex;
    width: 100%;
  }
  .guildScene {
    display: flex;
    justify-content: center;
  }

  .imgHeaderLandingPage {
    position: absolute;
    img {
      width: 100%;
    }
  }

  .button-register-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
    position: sticky;
    top: 5%;
    right: 0;
    margin-left: auto;
    z-index: 999;
  }

  .polygonSVG {
    position: absolute;
    transform: translate(-32px, -77px);
    z-index: 40;
    display: flex;
    width: 20%;
    right: 0;
    justify-content: flex-end;
  }
}
