.mainContainerProfil {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: $third-font-color;
  font-family: $content-font;
  animation: fadeIn ease 1s;
  // border: 2px solid red;

  .leftBoxMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    gap: 15px;
    // border: 2px solid red;
    .settingsTitle {
      font-size: 1vw;
      h1 {
        background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $content-font;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: small-caps;
      }
    }
    .settingsTab {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 20px;

      .settingsButton,
      .Cliked {
        border-radius: 5px;
        height: 10%;
        width: 50%;
        button {
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          background: none;
          cursor: pointer;
          background: linear-gradient(180deg, #a4945e 0%, #e2d07c 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: $content-font;
          font-size: clamp(16px, 1vw, 32px);
        }
      }
      .settingsButton {
        background: #180b23;
      }
      .Cliked {
        background: #4d194d;
      }
    }
  }
  .questionMark {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .rightBoxMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60%;
    // border: 2px solid red;
    // gap:10px;
    .mainTitleProfil {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: auto;
      gap: 15px;
      font-family: $title-font;
      border-bottom: 1px solid #e2d07c;
      // border: 2px solid red;
      padding-bottom: 5px;
      padding-top: 10px;
      .h1ProfilTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        #h1ProfilTitle {
          font-family: $title-font;
          background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: $title-font;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-variant: small-caps;
        }
      }
    }
    .bigBoxRight {
      display: flex;
      flex-direction: column;
      padding: 30px;
      width: 100%;
      height: 90%;
      background: #8b8b8b39;
      border-radius: 12px;
      border: 2px solid #a4945e;
      gap: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      // border: 2px solid blue;
      .topDivSocial {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #e2d07c;
      }
      .mainContainerMapItems {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 20px;

        .mapContainerSocial {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: #fff;
          border-radius: 4px;
          width: 100%;

          .socialBoxHR {
            display: flex;
            align-self: center;
            height: 80%;
          }
          .boxPictureAndName {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid $third-font-color;
            }
            p {
              font-size: 20px;
              color: black;
            }
          }
          .boxLocation {
            display: flex;
            color: black;
            justify-content: center;
            align-items: center;
            width: 40%;
            p {
              font-size: 20px;
            }
          }
          .boxGameName {
            display: flex;
            color: black;
            justify-content: center;
            align-items: center;
            width: 40%;
            p {
              font-size: 20px;
            }
          }
        }
      }

      .mainContainerMapItems::-webkit-scrollbar {
        width: 14px;
        height: 10px;
        background-color: #180b2393;
        border-radius: 11px;
      }

      .mainContainerMapItems::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        background-color: #667277;
        border-radius: 11px;
        -webkit-appearance: none;
        background-color: #180b23;
        border: 1px solid #667277;
        box-shadow: inset 0 0 5px #667277;
      }

      .mainContainerMapItems ::-webkit-scrollbar-thumb-progress {
        width: 100%;
      }

      .titlewaiting,
        .titleHistory,
        .titleValidate {
          border-bottom: solid 1px #a4945e;
          width: 60%;
        }

      .waitingValidationDiv,
      .validateDiv,
      .historyDiv {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 20px;
        .displayValidate,
        .displayWaiting,
        .displayHistory {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        
        .scheduleDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .hrBoxMyGames {
            width: 50px;
            height: 2px;
            transform: rotate(90deg);
            background-color: black;
            border: none;
          }
          .dateCalendar {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: clamp(12px, 1vw, 20px);
            color: black;
          }
        }
        .boxPendingateGame,
        .boxHistoryGame,
        .boxValidatedGame {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #fff;
          width: 100%;
          padding: 20px;
          height: 7vh;
          border-radius: 4px;
          
          .guildNameDiv {
            display: flex;
            width: 60%;
            color: black;
            font-size: clamp(18px, 1.2vw, 30px);
            cursor: pointer;
            font-family: $content-font;
          }
          .typeDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4d194d;
            width: 9vw;
            height: 3vh;
            border-radius: 4px;
          }
        }
      }
      .topDivMyGames {
        display: flex;
        justify-content: end;
        gap: 5vw;
        .middleTopDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 4px;
          width: 132px;
          height: 32px;
          color: black;
        }
        .leftTopDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          input[type="checkbox"] {
            height: 0;
            width: 0;
            visibility: hidden;
          }

          label {
            cursor: pointer;
            width: 50px;
            height: 20px;
            background: none;
            display: block;
            border: 1px solid #a4945e;
            border-radius: 20px;
            position: relative;
          }

          label:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 17px;
            height: 17px;
            background: #a4945e;
            border-radius: 20px;
            transform: translateY(-9%);
            transition: 0.3s;
          }

          input:checked + label {
            background: none;
          }

          input:checked + label:after {
            left: auto;
            right: 2px;
            transform: translateY(-9%);
          }

          label:active:after {
            width: 40px;
          }
        }
      }
      .titleProfil {
        color: #fff;
        display: flex;
        font-size: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        width: fit-content;
        font-family: $content-font;
      }
      .topBoxProfil {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .boxDateAndBoxPhoto {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          gap: 5px;

          .boxPhoto {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            label {
              display: flex;
              justify-content: center;
              cursor: pointer;
              img {
                width: 100px;
                border: double 4px transparent;
                border-radius: 50%;
                background-image: linear-gradient(#563e5b, #563e5b),
                  linear-gradient(180deg, rgb(164, 147, 94) 10%, #4d1a4d 100%);
                background-origin: border-box;
                background-clip: padding-box, border-box;
              }
            }
          }
          span {
            color: #e2d07c;
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
        .boxName {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          height: 100%;
          width: 40%;
          span {
            color: #e2d07c;
            font-family: $content-font;
            font-size: 1vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .displayUsername {
            display: flex;
            align-items: center;
            width: 100%;
            height: 4vh;
            background-color: #fff;
            border-radius: 4px;
            padding-left: 20px;
            p {
              font-family: $content-font;
              color: #180b23;
              text-align: center;
              font-size: 1.5vw;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          input {
            width: 100%;
            height: 4vh;
            font-family: $content-font;
            font-size: 1.5vw;
            background-color: #fff;
            border-radius: 4px;
            padding-left: 20px;
          }
        }
        .userNameDiv {
          display: flex;
          flex-direction: column;
        }

        .countryCityP {
          display: flex;
          align-items: center;
          height: 3vh;
          background-color: #fff;
          border-radius: 5px;
          padding-left: 20px;
          p {
            color: #180b23;
            font-family: Koh Santepheap;
            font-size: 1.2vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .inputCountryCity {
          font-family: "Petrona", serif;
          // font-size: 1vw;
          height: 3vh;
          background-color: #fff;
          border-radius: 4px;
          padding-left: 20px;
        }

        .localisationBox {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 20%;
          height: 100%;
          // border: 2px solid blue;
          .countryCityNameBox {
            display: flex;
            align-items: flex-end;
            transform: translateX(-10%);
            gap: 5px;
            span {
              color: #e2d07c;
              font-family: Koh Santepheap;
              font-size: 1vw;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
      .bioBoxProfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        // margin-top: 20px;
        .bioBoxProfilTitle {
          display: flex;
          width: 90%;
          align-self: center;
          color: #e2d07c;
          font-family: Koh Santepheap;
          font-size: 1vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .bioBoxProfilText {
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          width: 90%;
          height: 11.42vh;
          border-radius: 8px;
          background: #fff;
          text-align: center;
          padding: 10px;
          // margin-bottom: 20px;
          textarea {
            width: 100%;
            height: 11.42vh;
            outline: none;
            border-radius: 6px;
            resize: none;
            border: none;
            font-size: 1vw;
            // line-height: 100px;
          }
        }
        #userNameDescription {
          width: 46vw;
          height: 111px;
          font-family: $content-font;
          font-size: 18px;
          background-color: #fff;
          border-radius: 7px;
          cursor: pointer;
          padding: 20px;
        }
        .editDescriptionBox {
          display: flex;
          flex-direction: column;
          .inputNewDescription {
            width: 738px;
            height: 111px;
            font-family: $content-font;
            font-size: 18px;
            background-color: #fff;
          }
        }
      }
    }
    .gameBoxProfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 2px solid red;
      width: 100%;

      .gameBoxProfilTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        // align-self: baseline;
        // border: 2px solid red;

        h2 {
          color: #fff;
          font-family: Koh Santepheap;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          margin-left: 5%;
        }
        .hrDiv {
          // margin-left: 55px;
          width: 80%;
          height: 1px;
          background-color: #e2d07c;
        }
      }
      .compoAndMap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        height: 18vh;
        gap: 20px;
        .gameBoxGamesList {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          gap: 20px;
          overflow-y: auto;
          padding: 20px;

          .boxRpgPicture {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #180b23;
            width: 117px;
            height: 73px;
            border-radius: 11px;
            position: relative;
            .delete {
              position: absolute;
              top: 0;
              right: 0;
              width: 20px;
              height: 20px;
              cursor: pointer;
              img {
                width: 20px;
                height: 20px;
              }
            }

            img {
              width: 94px;
              height: 30.73px;
            }
          }
        }

        .gameBoxGamesList::-webkit-scrollbar {
          width: 14px;
          height: 10px;
          background-color: #180b2393;
          border-radius: 11px;
        }

        .gameBoxGamesList::-webkit-scrollbar-thumb {
          width: 10px;
          height: 10px;
          background-color: #667277;
          border-radius: 11px;
          -webkit-appearance: none;
          background-color: #180b23;
          border: 1px solid #667277;
          box-shadow: inset 0 0 5px #667277;
        }

        .gameBoxGamesList ::-webkit-scrollbar-thumb-progress {
          width: 100%;
        }
      }
      .hrDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        hr {
          width: 100%;
          border-color: #e2d07c;
        }
      }
    }

    .hrDiv2Container {
      display: flex;
      justify-content: center;
      width: 100%;
      .hrDiv2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 1px;
        background: #e2d07c;
      }
    }

    .bottomBoxProfil {
      display: flex;
      justify-content: space-evenly;
      // justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      // padding-right: 60px;
      // padding-left: 60px;
      // gap:40px;
      width: 100%;
      hr {
        height: 10vh;
        border-color: #e2d07c;
      }

      .inputBottomProfil {
        width: 100%;
        height: 27px;
        border-radius: 4px;
        background-color: #fff;
      }
      .privateInfoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h3 {
          color: #fff;
          text-align: center;
          font-family: Koh Santepheap;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;
          text-transform: uppercase;
        }
      }

      .mailBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #e2d07c;
        font-size: 1vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Koh Santepheap;
        gap: 7px;
      }
    }
    .bottomBoxProfilEdit {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      padding-left: 15px;
      gap: 10%;
      width: 100%;
      hr {
        height: 10vh;
        border-color: #e2d07c;
      }

      .inputBottomProfil {
        width: 100%;
        height: 27px;
        border-radius: 4px;
        background-color: #fff;
      }
      .privateInfoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 20px;
          font-family: $content-font;
          color: $secondary-font-color;
          border-bottom: solid 1px #fff;
        }
      }

      .mailBox2 {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 50%;
        color: #e2d07c;
        font-family: Koh Santepheap;
        font-size: 1vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        input {
          color: #180b23;
          text-align: center;
          font-family: Koh Santepheap;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .changePassword {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 7px;

        .oldPassword {
          display: flex;
          flex-direction: column;
          gap: 7px;
          color: #e2d07c;
          font-family: Koh Santepheap;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          input {
            padding-left: 10px;
          }
        }
        .newPassword {
          display: flex;
          flex-direction: column;
          gap: 7px;
          color: #e2d07c;
          font-family: Koh Santepheap;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          input {
            padding-left: 10px;
          }
        }
      }
    }
  }
  .divButtonSwitchEdit,
  .divButtonSwitchValidate {
    // -webkit-box-shadow: 1px 1px 23px 12px rgba(77, 25, 77, 0.7);
    // box-shadow: 1px 1px 23px 12px rgba(77, 25, 77, 0.7);
    transform: translateY(-80%);
    // border: 2px solid green;
    background-color: #180b23;
    border-radius: 4px;
    button {
      font-size: 20px;
      // color: #e2d07c;
      text-align: center;
      font-family: Petrona;
      font-size: 23px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      width: 191px;
      height: 54px;

      background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .popupGameProfilContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(3px);

    #popupGameProfil {
      width: 80%;
      background-color: white;
      border-radius: 4px;
      padding: 20px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
