.mainContainerProfil {
  display: flex;
  height: 100vh;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  color: $third-font-color;
  font-family: $content-font;

  .leftBoxMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 50%;
    width: 15%;
    gap: 15px;
    .settingsTitle {
      font-size: 15px;
      color: #e2d07c;
      font-family: "Petrona", serif;
    }
    .settingsTab {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 20px;

      .settingsButton,
      .Cliked {
        border-radius: 5px;
        height: 3rem;
        width: 10rem;
        button {
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          background: none;
          cursor: pointer;
          color: $third-font-color;
          font-family: $content-font;
        }
        button:hover {
          background: #e74c3c;
        }
      }
      .settingsButton {
        background: #180b23;
      }
      .Cliked {
        background: #e74c3c;
      }
    }
  }
  .questionMark {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .rightBoxMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    .mainTitleProfil {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 10%;
      // gap:10px;
      font-size: 28px;
      border-bottom: 1px solid #e2d07c;
    }
    .bigBoxRight {
      display: flex;
      flex-direction: column;
      padding: 30px;
      width: 100%;
      height: 100%;
      background: #8b8b8b39;
      border-radius: 12px;
      // gap: 30px;
      .titleProfil {
        color: #fff;
        display: flex;
        font-size: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        width: fit-content;
      }
      .topBoxProfil {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 1px blue;

        .boxDateAndBoxPhoto {
          border: 1px solid black;
          img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            border: 5px solid $third-font-color;
          }
        }

        .userNameDiv {
          display: flex;
          flex-direction: column;
          #userNameButton {
            width: 210px;
            height: 39px;
            font-family: $content-font;
            font-size: 25px;
            background-color: #fff;
            cursor: pointer;
          }
        }
        .editNameDiv {
          display: flex;
          flex-direction: column;
          .inputNewName {
            width: 210px;
            height: 39px;
            font-family: $content-font;
            font-size: 25px;
            background-color: #fff;
          }
        }
        .inputCountryCity {
          width: 161px;
          height: 30px;
          border-radius: 4px;
          background-color: #fff;
        }

        .localisationBox {
          display: flex;
          flex-direction: column;
        }
      }
      .bioBoxProfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        .bioBoxProfilTitle {
          display: flex;
          align-self: baseline;
        }
        #userNameDescription {
          width: 46vw;
          height: 111px;
          font-family: $content-font;
          font-size: 18px;
          background-color: #fff;
          border-radius: 7px;
          cursor: pointer;
          padding: 20px;
        }
        .editDescriptionBox {
          display: flex;
          flex-direction: column;
          .inputNewDescription {
            width: 738px;
            height: 111px;
            font-family: $content-font;
            font-size: 18px;
            background-color: #fff;
          }
        }
      }
    }
    .gameBoxProfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      .gameBoxProfilTitle {
        width: 100%;
        align-self: baseline;
        h2 {
          font-size: 22px;
          font-family: $title-font;
          color: $secondary-font-color;
          padding-left: 75px;
        }
        hr {
          margin-left: 55px;
          width: 45vw;
          border-color: #e2d07c;
        }
      }
      .gameBoxGamesList {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
      }
    }

    .hrDiv {
      display: flex;
      justify-content: center;
      hr {
        width: 45vw;
        border-color: #e2d07c;
      }
    }

    .bottomBoxProfil {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      justify-items: center;
      padding-right: 60px;
      padding-left: 60px;
      hr {
        height: 20vh;
        border-color: #e2d07c;
      }

      .inputBottomProfil {
        width: 237px;
        height: 27px;
        border-radius: 4px;
        background-color: #fff;
      }
      .privateInfoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 30px;
          font-family: $content-font;
          color: $secondary-font-color;
        }
      }

      .mailBox {
        display: flex;
        flex-direction: column;
      }

      #passwordButton {
        background-color: red;
        transition: 0.3s;
      }
      #validateButton {
        background-color: green;
        transition: 0.3s;
      }

      .changePassword {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 10vw;
        .noDisplay {
          opacity: 0;
          transition: 0.3s;
        }
        .passwordBox {
          display: flex;
          flex-direction: column;

          transition: 0.3s;

          .oldPassword {
            display: flex;
            flex-direction: column;
          }
          .newPassword {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
