.mainContainerProfil {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  // color: yellow;
  color: #e2d07c;
  font-family: "Petrona", serif;

  .leftBoxMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 50%;
    width: 15%;
    gap: 15px;
    .settingsTitle {
      font-size: 30px;
      color: #e2d07c;
      font-family: "Petrona", serif;
    }
    .settingsTab {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 20px;

      .settingsButton,
      .Cliked {
        border-radius: 5px;
        height: 3rem;
        width: 10rem;
        button {
          width: 100%;
          height: 100%;
          border: 2px solid blue;
          justify-content: center;
          align-items: center;
          display: flex;
          background: none;
          cursor: pointer;
          // color: #e2d07c;
          // font-family: "Petrona", serif;
        }
      }
      .settingsButton {
        background: #180b23;
      }
      .Cliked {
        background: #e74c3c;
      }
    }
  }
}
