// * {
//   border: 2px solid blue;
// }

.containeurTopicsAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .titleTopics {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(194, 177, 108);
    margin-bottom: 35px;
    margin-top: 35px;
  }

  .globalDivTopics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .divTopicsAndFilter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .divTopics {
        width: 25%;
        display: flex;
        flex-direction: column;
        height: auto;

        .titleFilterTopic {
          color: rgb(194, 177, 108);
          font-size: 2em;
          font-family: $content-font;
          text-align: center;
        }

        .boxFilterTopics {
          border: solid 0.5px rgb(194, 177, 108);
          padding: 30px 20px 30px 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;
          height: auto;
          width: 80%;

          .writingWindow {
            border: solid 2px rgb(194, 177, 108);
            font-family: $content-font;
            border-radius: 4px;
            background-color: white;
            padding: 5px;
            width: 100%;
            height: 40px;
          }

          .boxNewTopics {
            button {
              background-color: rgb(194, 177, 108);
              color: #fff;
              border: none;
              border-radius: 15px;
              padding: 10px 20px;
              cursor: pointer;
              transition: background-color 0.3s;

              &:hover {
                background-color: darken(rgb(194, 177, 108), 15%);
              }
            }
          }

          .selectWindow {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 3;
            // background: #5c6664;
            overflow: hidden;
            border-radius: 5px;
            width: 100%;

            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              -ms-appearance: none;
              appearance: none;
              box-shadow: none;
              background-image: none;
              background-color: white;
              // flex: 1;
              height: 4.73vh;
              width: 100%;
              padding: 0 0.5em;
              color: #666;
              font-family: $content-font;
              cursor: pointer;
              border-radius: 6px;
              border: none;
            }
            select::-ms-expand {
              display: none;
            }
            &::after {
              content: url("../src/assets/icon-create-game/arrow-select.svg");
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 0;
              right: 0;
              background: $navbar-color;
              cursor: pointer;
              pointer-events: none;
              transition: 0.25s all ease;
              width: 25%;
              height: 100%;
            }
          }
        }
      }

      .BoxTopicsAndNewTopics {
        width: 70%;

        .titleBoxTopics {
          margin-top: 30px;
          margin-bottom: 30px;
          text-align: center;
          font-size: clamp(32px, 3vw, 64px);
          font-family: $title-font;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-variant: small-caps;
          background: linear-gradient(180deg, #e2d07c 0%, #a4945e 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .globalTopicsBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 80vh;
          overflow-y: auto;
          gap: 20px;

          .topicboxId {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(194, 177, 108, 0.5);
            border-radius: 5px;
            height: 100%;
            width: 98%;
            padding: 20px;

            p {
              font-family: $content-font;
              // margin-bottom: 20px;
            }

            .topicTitleInCard {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            h3,
            u {
              padding-top: 10px;
              padding-bottom: 10px;
              font-family: $content-font;
              font-size: 1vw;
            }

            .headerCardTopic {
              background-color: #180b23;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 15px;
              width: 100%;

              .photoAndName {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;
                width: 100%;
                font-size: 1vw;
                font-weight: bold;

                .photoUserTopic {
                  display: flex;
                  width: 85px;
                  border-radius: 50%;
                  border: solid 0.5px rgb(194, 177, 108);

                  img {
                    width: 100%;
                  }
                }
              }

              .dateTopics {
                width: 100%;
                text-align: right;
                p {
                  color: rgba(255, 255, 255, 47);
                  font-family: $content-font;
                }
              }
            }

            .firstContentInCard {
              width: 100%;
              height: 100%;
              // border: 2px solid blue;

              p {
                display: flex;
                align-items: center;
                word-break: break-all;
                // overflow: hidden;
                width: 100%;
                margin-bottom: 15px;
              }
            }

            .buttonInCard {
              display: flex;
              justify-content: flex-end;

              button {
                background-color: #180b23;
                color: rgb(194, 177, 108);
                font-family: $content-font;
                font-size: 1em;
                width: 20%;
                height: 40px;
                border-radius: 5px;
              }
            }
          }
        }

        .globalTopicsBox::-webkit-scrollbar {
          width: 14px;
          height: 10px;
          background-color: #180b2393;
          border-radius: 11px;
        }

        .globalTopicsBox::-webkit-scrollbar-thumb {
          width: 10px;
          height: 10px;
          background-color: #667277;
          border-radius: 11px;
          -webkit-appearance: none;
          background-color: #180b23;
          border: 1px solid #667277;
          box-shadow: inset 0 0 5px #667277;
        }

        .globalTopicsBox::-webkit-scrollbar-thumb-progress {
          width: 100%;
        }
      }

      #modalTopics {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        #modalTopicsContent {
          background-color: #fff;
          border-radius: 5px;
          padding: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .divTopicsAndFilter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .divTopics {
      min-width: 300px;
      width: 20%;
      height: auto;
      margin-left: 0px;
    }
  }

  .titleBoxTopics {
    margin-top: 30px;
    text-align: center;
    color: rgb(194, 177, 108);
    font-size: 2em;
  }
}
