.globalDivTopics {
  display: flex;
}

.BoxTopicsAndNewTopics {
  display: flex;
  flex-direction: column;
}

.glaobalTopicsBox {
  display: flex;
  flex-direction: column;
}

.boxNewTopics {
  display: flex;
  flex-direction: column;
}

.topicbox {
  margin: 20px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/box/Rectangle\ 84.svg");
  display: flex;
  flex-direction: column;
}

.topicbox li {
  list-style: none;
  margin: 5px 0;
}
