.globalcontainerUT {
  display: flex;

  .containerFilterAndCards {
    display: flex;
    // border: solid white;
    width: 100%;

    &.filterGameLeft {
      flex-direction: row;
      transition: all 1s ease;
    }

    &.filterGameRight {
      flex-direction: row-reverse;
      transition: all 1s ease;
      animation-duration: 1s;
    }

    .filterContainer {
      // border: solid rgb(5, 5, 180);
      color: white;
      width: 30%;
      button {
        transition: all 1s ease;
        animation-duration: 1s;
      }
    }

    .gamecard {
      // border: solid rgb(3, 125, 44);
      color: white;
      width: 100%;
      margin: 20px;

      .containerMenuGame {
        display: flex;
        justify-content: space-around;
        border: 3px solid rgb(194 177 108);
        height: 50px;
        border-radius: 10px 10px 0px 0px;

        .containerTitleUP {
          color: rgb(194 177 108);
          display: flex;
          align-items: center;

          .iconUpcomingTable {
            height: 20px;
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
