#invitationCardsGlobal {
  display: flex;
  flex-direction: column;
  align-items: center;
  #buttonInvitationCardExit {
    width: 100%;
    text-align: right;
    button {
      background-color: #401a44;
      color: $button-gold;
      padding: 10px;
      border-radius: 5px;
    }
  }
  #invitationTitle {
    width: 350px;
    text-align: center;
    font-family: $content-font;
    padding-bottom: 10px;
    color: #180b23;
    border-bottom: 1px solid #180b23;
    margin-bottom: 5%;
  }

  p,
  span {
    color: #180b23;
    font-family: $content-font;
  }

  #invitationButtonValidate {
    margin-top: 5%;
    button {
      background: $background-gradient-home-page;
      font-family: $content-font;
      color: white;
      padding: 10px;
      border-radius: 4px;
    }
  }
  #invitationListGlobal {
    width: 100%;
    height: 20vh;
    overflow-y: auto;

    #invitationGameList {
      cursor: pointer;
      width: 98%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      border: 1px solid #180b23;
      border-radius: 4px;
      padding: 5px;

      #imgCalendarInvitation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
      }

      #dateAndHour {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-right: 1px solid #180b23;
        padding-right: 10px;
      }

      #invitationGuildName {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      #invitationIconRemoteCampaign {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #401a44;
        border-radius: 4px;
        padding: 10px;
        p {
          color: $button-gold;
        }
      }
    }

    #invitationGameListSelected {
      cursor: pointer;
      width: 98%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      border: 1px solid #180b23;
      background-color: #180b23;
      border-radius: 4px;
      padding: 5px;

      #imgCalendarInvitation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
      }

      #dateAndHour {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-right: 1px solid $button-gold;
        padding-right: 10px;
        p {
          color: white;
        }
      }

      #invitationGuildName {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        p {
          color: white;
        }
        span {
          color: $button-gold;
        }
      }

      #invitationIconRemoteCampaign {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #401a44;
        border-radius: 4px;
        padding: 10px;
        p {
          color: $button-gold;
        }
      }
    }
  }

  #invitationListGlobal::-webkit-scrollbar {
    width: 14px;
    height: 10px;
    background-color: #180b2393;
    border-radius: 11px;
  }

  #invitationListGlobal::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    background-color: #667277;
    border-radius: 11px;
    -webkit-appearance: none;
    background-color: #180b23;
    border: 1px solid #667277;
    box-shadow: inset 0 0 5px #667277;
  }

  #invitationListGlobal::-webkit-scrollbar-thumb-progress {
    width: 100%;
  }
}
