* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 2px solid red;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // overflow: scroll;
  overscroll-behavior: contain;
  background: $background-gradient;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .pageContainer1 {
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    // overflow: hidden;
  }

  .pageContainer2 {
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    // width: calc(100% - 104px);
    // overflow: hidden;
  }

  .navBar {
    height: 100%;
  }
}
