@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");

$title-font: "Lekton", sans-serif;
$content-font: "Petrona", serif;
$ponctual-font: "Karma", serif;
$primary-font-color: #d9d9d9;
$secondary-font-color: #ffffff;
$third-font-color: #e2d07c;
$background-gradient: linear-gradient(
  180deg,
  #160c21 0%,
  #401a44 47.92%,
  #160c21 100%
);
$background-gradient-landing-page: linear-gradient(
  180deg,
  #180b23 0%,
  #4d194d 48.44%,
  #180b23 94.27%
);
$background-gradient-home-page: linear-gradient(
  180deg,
  #180b23 0%,
  #4d194d 100%
);
$button-blue: linear-gradient(180deg, #398d8f 0%, #187577 100%);
$button-gold: #e2d07c;
$navbar-color: #180b23;
