@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

$primary-font: 'Koh Santepheap';
$primary-font-color: #d9d9d9;
$secondary-font-color: #ffffff;
$third-font-color: #E2D07C;
$background-gradient-landing-page: linear-gradient(180deg, #180B23 0%, #4D194D 48.44%, #180B23 94.27%);
$background-gradient-home-page: linear-gradient(180deg, #180B23 0%, #4D194D 100%);
$button-blue: linear-gradient(180deg, #398D8F 0%, #187577 100%);
$button-gold: #E2D07C;
$navbar-color: #180B23;

