@import "../../Variable.scss";

.carrousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: #180b23;
  position: relative;
  z-index: 2;

  .title-carrousel {
    width: 90%;
    color: #fff;
    font-family: $content-font;
    font-size: 76px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-top: 120px;
  }
  .carrousel-content {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    margin-bottom: 162px;
  }
  .carrousel-item {
    display: flex;
    position: relative;
    width: 345.269px;
    height: 221px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    background: #42384b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    $border: 5px;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to bottom, #4d194d, #ffffff);
    }

    .carrousel-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;

      img {
        width: 101.668px;
        height: 95px;
      }

      .H2HR-carrousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        span {
          color: #a4945e;
          font-size: 29px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          font-family: $content-font;
          margin: 0;
        }

        hr {
          width: 100%;
          height: 1px;
          border: none;
          background: #a4945e;
        }
      }
    }
    p {
      color: #fff;
      text-align: justify;
      font-size: 15px;
      font-style: normal;
      font-family: $ponctual-font;
      font-weight: 400;
      line-height: normal;
      width: 100%;
      text-align: center;
    }
  }

  .carrousel-item.active {
    opacity: 1;
  }

  .carrousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60.397px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 10px;

    &.prev {
      left: 20px;
    }

    &.next {
      right: 20px;
    }
  }
}
