.carrousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: #180b23;
  position: relative;
  z-index: 2;
  margin-bottom: 76px;
  .title-carrousel {
    width: 90%;
    color: #fff;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    p {
      font-family: $content-font;
      font-size: 5vw;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      font-size: 5vw;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      text-align: left;
    }
    span {
      font-family: $content-font;
    }
  }
}
.carousel-content {
  width: 100%;
  height: 45vh;

  .carousel-root {
    height: 100%;

    .carousel {
      width: 100%;
      height: 100%;
      .slide {
        // height: 39vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .testimonialCard {
          height: 30vh;
          width: 30vw;
          background: rgb(65, 47, 85);
          border-radius: 10px;
          // // gap: 30px;
          // border: 3px solid $third-font-color;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 10px;
            padding: 10px;
            background: linear-gradient(
              180deg,
              rgba(77, 25, 77, 1) 0%,
              rgba(255, 255, 255, 1) 100%
            );
            mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
          }

          .jeSaisPas {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 40px;
            align-items: center;
            .testimonialImg {
              img {
                border-radius: 50%;
                width: 7vw;
                height: auto;
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.447);
              }
            }
            .testimonialUsername {
              width: 100%;
              h3 {
                padding: 3px;
                text-align: start;
                // margin-top: 70px;
                font-family: $title-font;
                color: $third-font-color;
                font-size: 2.81vw;
                // border: 2px solid blue;
                border-bottom: 1px solid $third-font-color;
              }
            }
          }
          .jeSaisPasContenu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
              color: $secondary-font-color;
              font-size: 1.5vw;
              text-align: center;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
