@import "../../../Variable.scss";

.cardLogIn-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 512px;
    height: 800px;
    position: relative;
    padding: 30% 2em;
    box-sizing: border-box;
    $border: 5px;
    color: black;
    background: #FFF;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        padding: 0;
        border-radius: inherit; /* !importanté */
        background: linear-gradient(to bottom, #E2D07C, #A4945E);
      }
    span {
        color: #4D194D;
        text-align: center;
        font-family: $ponctual-font;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #title-card-logIn2 {
        margin-bottom: 25px;
    }
    .cardLogIn-Input2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        span {
            text-align: justify;
            font-family: $content-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            margin: 0;
        }
        input {
            width: 361px;
            height: 42px;
            border-radius: 5px;
            border: 1px solid #180B23;
            background: rgba(246, 246, 233, 0.00);
            margin-bottom: 25px;
        }
        #input-password-LogIn2 {
            margin-bottom: 8px;
        }
    }
    .button-SignIn-Container2 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
        .button-SignIn2 {
            width: 161px;
            height: 49px;
            display: flex;
            justify-content: center;
            background: linear-gradient(180deg, #752B75 0%, #180B23 100%);
            border-radius: 5px;
            button {
                width: 161px;
                height: 49px;
                text-align: center;
                font-family: $content-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 5px;
                border: none;
                background: -webkit-linear-gradient(#A4945E, #E2D07C);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }
    }
    #social-account-logIn2 {
        text-align: center;
        font-family: $content-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .line-hr-LogIn2 {
        display: flex;
        gap: 150px;
        hr {
            width: 100px;
            height: 1px;
            border: none;
            background: linear-gradient(0deg, #180B23 0%, #180B23 100%), #180B23;
        }
    }
    .logo-socialAccountLogIn2 {
        display: flex;
        gap: 40px;
        cursor: pointer;
    }
}