.globalInstructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  //   border: 3px solid yellow;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .Instruction-Scene-Text {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 100%;
    height: 80%;
    // border: 3px solid blue;

    .instruction3D {
      width: 60%;
      height: 60%;
    }

    .InstructionText {
      display: flex;
      flex-direction: column;
      //   border: 3px solid green;
      margin: 2rem;

      .Companions-Title {
        display: flex;
        color: #e2d07c;
        justify-content: center;
        font-family: $title-font;
        font-size: 2.84vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-top: 5rem;
      }
      .Companions-Text {
        display: flex;
        color: #e2d07c;
        text-align: justify;
        font-family: $content-font;
        font-size: 1.45vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .Instructions-Title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color: #e2d07c;
    text-align: center;
    font-family: $title-font;
    font-size: 3.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    // border: 3px solid blue;
    border-bottom: 1px solid #e2d07c;
    margin: 5rem 3rem 0 3rem;
    padding: 2.5rem 0;
    z-index: 51;
  }
}

@media screen and (max-width: 1000px) {
  .Instruction-Scene-Text {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    // border: 3px solid red;

    .instruction3D {
      display: flex !important;
      justify-content: center !important;
      width: 100% !important;
      height: 100% !important;
      // border: 3px solid salmon;
      z-index: 50 !important;
    }

    .InstructionText {
      // border: 3px solid green;
      margin: 0;
      .Companions-Title {
        margin-top: 1rem !important;
      }
    }
  }
}
